@import url("https://use.typekit.net/tuz2emc.css");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}




h1 , h2 , h3, h4 , p , ul {
  font-family: 'degular' , sans-serif;
  

}

canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}


p {
  font-size: 18px;
}
.testimonial-container .swiper-slide {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
.testimonial-container .swiper-slide-active {
  opacity: 1;
}





.curve svg, .curve .background {
	 position: fixed;
	 height: calc(100vh + 600px);
	 width: 100vw;
	 pointer-events: none;
	 left: 0;
	 top: 0;
}
 .curve .background {
	 background-color: black;
	 transition: opacity 0s linear 0.1s;
}
 .curve .route {
	 position: absolute;
	 left: 50%;
	 top: 40%;
	 color: white;
	 font-size: 46px;
	 z-index: 3;
	 transform: translateX(-50%);
	 text-align: center;
}
 


h1 svg {
	width: 38px;
}



canvas {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	
	width: 700px;
	height: 700px;
	
	max-height: 90vmin;
	max-width: 90vmin;
	
	animation: throb 5s infinite alternate;
  }